.event-approved-details-header, .event-approved-list-container {
    color: white;
    text-align: center;
}

.exit-icon {
    color: white;
}

.event-details-item {
    background-color: rgba(152, 152, 152, 0.267);
    color: white;
    text-align: left;
}