.event-approved-details-header, .event-approved-list-container {
    color: white;
    text-align: center;
}

.exit-icon {
    color: white;
}

.event-details-item {
    background-color: #88888844;
    color: white;
    text-align: left;
    margin: 0 auto;

}

.detail-name {
    font-size: 30px;
}

.star-saved-event {
    width: 10%;
    height: 43px;
    display: inline-block;
    border-radius: 100px;
    margin-left: 10px;

}

.star-saved-event::active {
    width: 10%;
    height: 43px;
    display: inline-block;
    border-radius: 100px;
    margin-left: 10px;
    color: red;

}