.admin-grid-events {
    background-color: rgba(255, 0, 0, 0.314);
}


.admin-event-item {
    background-color: rgba(255, 255, 255, 0.94);
    height: 80px;
    border: 1px solid white;
    text-align: center;
    
    // line-height: 80px;

    margin: 1rem 1rem;

    border-radius: 10px;
}


.admin-event-date, .admin-event-name {
    font-size: 10px;
}

// .pending-event-list-detail {
// }

.approved-event-list {
    text-align: center;
    color: black;
}
