.event-approved-details-header, .event-approved-list-container {
    color: white;
    text-align: center;
}

.exit-icon {
    color: white;
}

.event-details-item {
    background-color: #88888844;
    color: white;
    text-align: left;
    margin: 0 auto;

}