.admin-event-header {
    color: white;
    text-align: center;
}

.pending-event-list-container {
    text-align: center;
    color: black;
    overflow: scroll;
    width: 100%;
    height: 450px;
    margin: 0 auto;
}