.stn-logo {
    // position: absolute;
    // bottom: 30px;
    // height: 500px;
    // transform: rotate(90deg);
    // // margin-left: -130px;
    // align-items: center;
    // display: flex;
    color:#414141;
    // height: 600px;
    // width: 500px;
    // position: absolute;
    // right: -43px;
    // bottom: -100px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
    height: 700px;
    width: 100%;
    margin-top: -350px;
    background:#ffffff;
    z-index: -1000;

} 

.login-title {
    margin: 0;
    // background: black;
}

.login-stuff {
    margin-bottom: '100px';
    position: absolute;
}
