.image-container * {
  margin: 0px;
  border-radius: 4px;
  overflow: hidden;
}

.profile-container {
  background-color: rgb(41, 41, 41);
}

.image-container {
  position: relative;
}

.image-container .edit-overlay {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #333;
  background-color: #ffffffd5;
}

