.nav {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;

  height: 50px;
}

/* .nav a {
  text-decoration: none;
} */

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00adb000;
  text-align: center;
  padding: 24px 12px;
  text-decoration: none;
  font-size: 15px;

  border: none;
  cursor: pointer;
  outline: 0;
}

/* .navLink:hover {
  background-color: #008183;
} */

.menu-nav {
  line-height: 15px;
  font-size: 15px;
  position: relative;

}

.menu-icon-nav {
  top: 12px;
  position: relative;
}

.chevron-right {
  color:white;
  font-size: 50px;
}

.nav-row {
  background: rgb(88, 88, 88);
  height: 100%;
  font-size: 10px;
  color: white;
}

.nav-logout {
  background: rgb(88, 88, 88);
  color: white;
  
}

.nav-tab {
  padding: 10px 1px 10px 1px;
  color: white;
}

.nav-icon {
  color:white;
  border-radius: 10px;
}

.nav-text {
  font-size: 50px;
  padding: 8%;
  object-fit: cover;
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-guttersMuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  background-color: black;
}